# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.FinalProject.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\xioma\Documents\TERCER CICLO_2021\POO\FinalProject\.idea\.idea.FinalProject\.idea/dataSources/
/dataSources.local.xml
